@charset "utf-8";
/* 기본 태그 */
body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}
h2 {
  margin: 0;
  padding-top: 3rem;
  border-bottom: 2px solid #999;
  font-size: 3rem;
}
h3 {
  margin: 0;
  padding: 2rem 0 1rem 0;
  font-size: 2.5rem;
}
p {
  margin: 0;
  padding: 1rem;
  background-color: #eef;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.5;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  text-align: center;
  list-style: none;
}
dl {
  margin: 0;
}
dt {
  margin: 0;
  padding-top: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}
dd {
  margin: 0;
  padding-top: 1rem;
  font-size: 1.5rem;
}
dd::before,
.description__list::before {
  content: "- ";
}
figure {
  margin: 0;
  text-align: center;
}
figcaption {
  font-size: 1rem;
}
button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
}
span {
  padding: 0;
}
button span {
  position: relative;
  pointer-events: none;
}
a {
  text-decoration: none;
  color: #000;
}
/* 공통 */
.button-hide {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.button-hide::after {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 1.5rem;
  color: #666;
  content: "☰";
}
.button-hide--clicked {
  background-color: #666;
}
.button-hide--clicked::after {
  color: #fff;
}

/* 네비게이션 */
.navigation {
  overflow: auto;
  position: fixed;
  z-index: 1;
  width: 17%;
  height: 100vh;
  background-color: #fafafa;
}
.button-hide--nav {
  position: fixed;
  left: 0;
  z-index: 1;
  opacity: 0.5;
}
.button-hide--nav-clicked {
  left: 35%;
}
.navigation__lists {
  margin: 0;
}
.navigation__lists::after {
  display: block;
  clear: both;
  content: "";
}
.navigation__list {
  border-bottom: 1px solid #ddd;
  text-align: left;
}
.navigation__lists-sub {
  display: none;
}
.navigation__lists-sub--on {
  display: block;
}
.navigation__list-sub {
  background-color: #ddd;
  border-bottom: 1px solid #eee;
}
.navigation__title {
  display: block;
  position: relative;
  padding: 0.5em;
  background-color: #eee;
  font-size: 1rem;
  text-align: left;
}
.navigation__title::after {
  position: absolute;
  right: 1em;
  top: 50%;
  width: 10px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: translateY(-50%) rotate(-45deg);
  content: "";
}
.navigation__title--clicked {
  background-color: #ccc;
  font-weight: bold;
  text-decoration: underline;
}
.navigation__title--clicked::after {
  border-width: 0 0 2px 2px;
}
.navigation__title-sub {
  display: block;
  padding: 0.5em;
  text-align: left;
  color: #000;
}
.navigation__title-sub:active {
  font-weight: bold;
  text-decoration: underline;
}

/* 메인 */
.main {
  margin-left: 17%;
}
.main__title {
  padding: 1rem 0;
  margin: 0;
  background-color: #fed330;
  text-align: center;
  font-size: 2.5rem;
}
.content {
  padding: 0 3rem 3rem;
}
.roulette {
  position: relative;
  width: 40vw;
}
.roulette__wrapper {
  position: relative;
}
.roulette__canvas {
  width: 100%;
  display: block;
  background-color: #d1d8e0;
}
.roulette__button-start {
  width: 100%;
  border: none;
  background-color: #5a76aa;
  color: #fff;
  font-size: 2rem;
  line-height: 2;
}
.roulette__button-start--activated {
  background-color: #3867d6;
  cursor: pointer;
}
.button-hide--roulette {
  top: 10px;
  right: 10px;
}
.district {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 100%;
  width: 110px;
  max-height: 100%;
  margin: 0;
}
.district__list,
.sub-district__list {
  position: relative;
  text-align: left;
}
.district__list {
  border-bottom: 1px solid #ddd;
}
.sub-district__list {
  border-bottom: 1px solid #eee;
}
.sub-district {
  overflow: auto;
  max-height: 200px;
}
.district__name,
.sub-district__name {
  display: block;
  padding: 0.5em;
  font-size: 1rem;
  text-align: left;
}
.district__name {
  background-color: #eee;
}
.sub-district__name {
  background-color: #ddd;
}
.sub-district__name--checked {
  font-weight: 600;
  color: #a63b26;
  text-decoration: underline;
}
.district__name--checked {
  font-weight: 600;
  color: #116ea8;
  text-decoration: underline;
}
.sub-district {
  display: none;
}
.sub-district--checked {
  display: block;
}
.district__number {
  position: absolute;
  top: 0.5rem;
  right: 10px;
  margin-left: 0.3rem;
  font-weight: 500;
  font-style: normal;
  color: #147407;
}
.browser__lists,
.language__lists,
.editor__lists,
.package__lists {
  width: 60%;
}
.browser__lists::after,
.language__lists::after,
.editor__lists::after,
.package__lists::after {
  display: block;
  clear: both;
  content: "";
}
.browser__list,
.language__list,
.editor__list,
.package__list,
.order__list {
  font-size: 2vw;
  line-height: 2;
}
.browser__list {
  float: left;
  /* width: calc((100% - 2%) / 2); */
  width: 49%;
  color: #fff;
}
.browser__list--ie {
  margin-right: 2%;
  background-color: #3867d6;
}
.browser__list--chrome {
  background-color: #fc5c65;
}
.language__list {
  float: left;
  /* width: calc((100% - 4%) / 3); */
  width: 32%;
  color: #fff;
}
.language__list--html {
  background-color: #fd9644;
  margin-right: 2%;
}
.language__list--css {
  background-color: #4b7bec;
  margin-right: 2%;
}
.language__list--js {
  background-color: #fed330;
}
.editor__list {
  float: left;
  /* width: 33.33%; */
  color: #fff;
}
.editor__list--vsc {
  position: relative;
  width: 45%;
  margin-right: 5%;
  background-color: #45aaf2;
}
.editor__list--vsc::after {
  position: absolute;
  top: 0;
  left: 100%;
  /* width: calc((100% / 45) * 5); */
  width: 11%;
  color: #666;
  content: "+";
}
.editor__list--prettier {
  /* width: calc((100% - 50% - 2%) / 2); */
  width: 24%;
  margin-right: 2%;
  background-color: #4b6584;
}
.editor__list--eslint {
  /* width: calc((100% - 50% - 2%) / 2); */
  width: 24%;
  background-color: #a55eea;
}
.package__list {
  float: left;
  /* width: calc((100% - 2%) / 2); */
  width: 49%;
  color: #fff;
}
.package__list--eslint {
  background-color: #a55eea;
  margin: 0 2% 2% 0;
}
.package__list--prettier {
  background-color: #4b6584;
  margin-bottom: 2%;
}
.package__list--babel {
  background-color: #f7b731;
  margin-right: 2%;
}
.package__list--webpack {
  background-color: #2d98da;
}
.order__lists {
  width: 60%;
  padding-bottom: 2rem;
}
.order__lists--last {
  padding: 0;
}
.order__lists::after {
  display: block;
  clear: both;
  content: "";
}
.order__list {
  position: relative;
  float: left;
  /* width: calc((85% / 3)); */
  width: 28%;
  color: #fff;
}
.order__list--odd {
  margin-right: 5%;
}
.order__list--even {
  margin-left: 5%;
}
.order__list::after {
  position: absolute;
  /* width: calc((100% / (85 / 3)) * 5); */
  width: 17%;
  color: #778ca3;
  content: "→";
}
.order__list--odd::after {
  left: 100%;
}
.order__list--even::after {
  right: 100%;
}
.order__list--html {
  background-color: #fd9644;
}
.order__list--css {
  background-color: #4b7bec;
}
.order__list--js {
  background-color: #fed330;
}
.order__list--babel {
  background-color: #f7b731;
}
.order__list--node {
  background-color: #20bf6b;
}
.order__list--webpack {
  background-color: #2d98da;
}
.order__list--js::after {
  content: "";
}
.description__warning {
  margin-top: 1rem;
  font-weight: bold;
}
.description__list {
  padding-top: 1rem;
  font-size: 1.5em;
  text-align: left;
}
.inspection_link {
  text-decoration: underline;
  font-weight: 500;
  color: #116ea8;
}
